* {
  font-family: 'Cormorant SC', serif;
}

body {
  background-color: lightblue;
}



/* this is for screens larger than 600px */
@media (min-width: 600px){ 
  body {
    background-color: aliceblue;
    font-family: 'Cormorant SC', serif;
  }
}